* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pb-50 {
  padding-bottom: 50px;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  font-weight: 600;
}

/*TITOLI*/
h1 {
  font-size: 81px;
  font-weight: 600;
  padding-top: 70px;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 25px;
}


/*LINK MENU, JUMBO*/
.link {
  text-decoration: none;
  color: white;
  background-color: #0665FF;
  padding: 8px 20px;
}

.margin-link-jumbo {
  padding-top: 35px;
  padding-bottom: 20px;
}

/*MENU HEADER GENERAL*/
.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.menu-top nav ul li {
  list-style: none;
  display: inline;
  cursor: pointer;
  vertical-align: middle;
}

/*MENU SINISTRA*/
.left-menu li {
  padding-right: 50px;
}


/*MENU DESTRA*/
.right-menu li {
  padding-left: 50px;
}





/*JUMBOTRON*/
.jumbotron {
  background-color: #B4D0E7;
  height: 800px;
  padding-top: 80px;
  position: relative;
}

.jumbo-img img {
  width: 50%;
  position: absolute;
  right: 318px;
  bottom: -95px;
}

.jumbo-text {
  width: 27%;
  line-height: 1.4rem;
  padding-top: 23px;
}

.jumbotron i {
  font-size: 38px;
  padding-top: 40px;
}


/*MAIN*/

.main-container {
  width: 80%;
  max-width: 1100px;
  margin: 220px auto;
}


/*FATTURAZIONE*/
.billing span {
  padding-right: 20px;
  padding-bottom: 30px;
}

.billing i {
  font-size: 18px;
}

.fa-solid.fa-circle-dot {
  color: #0665FF;
}



/*COLONNE*/

/*debug colonna*/
.standard {
  margin: 0 62px;
}


/*--------------------*/
.col {
  height: 1000px;
  width: 322px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 40px;

}

.name-col {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content-col {
  padding: 40px 30px;
  font-size: 14px;
}

.content-col .price {
  margin-top: 11px;
  margin-bottom: 5px;
}

.content-col div {
  margin: 20px 0;
}


.content-col .date-col {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 5px;
}

.content-col hr {
  width: 20%;
  margin-top: 30px;
}


/*LINK COLONNE*/
.test {
  background-color: #0665FF;
  padding: 8px 20px;
  text-align: center;
  margin: 40px 0;
}

.test a {
  text-decoration: none;
  color: white;
}

.content-col .buy-now {
  color: #0665FF;
}


/*LISTA COLONNE*/

.content-col ul {
  margin-top: 20px;
}

.content-col ul li:first-child {
  font-weight: bold;
  font-size: 18px;
}

.content-col ul li {
  list-style: none;
  padding-top: 25px;
  font-size: 15px;
}

.content-col ul li i {
  color: #0665FF;
  font-weight: 800;
}

/*COLONNA ORIZONTALE*/
.or-col {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 230px;
  margin-top: 50px;
}

.or-col .or-col-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 0;
}

.or-col div a {
  padding: 8px 55px;
  color: white;
  text-decoration: none;
}

.link-or-col {
  margin: 0;
  background-color: #0665FF;
  padding: 8px 20px;
  text-align: center;
}

.or-col div:nth-child(3) {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.last-text-or-col {
  margin-left: 30px;
  margin-top: 60px;
}