* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-250 {
  margin-top: 250px;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  font-weight: 600;
}

/*---------------------------------*/

/*TITOLI*/
h1 {
  font-size: 81px;
  font-weight: 600;
  padding-top: 70px;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 25px;
}

.h3-line-height {
  line-height: 2rem;
}

/*---------------------------------*/


/*MENU HEADER GENERAL*/
.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.menu-top nav ul li {
  list-style: none;
  display: inline;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 500;
}

/*---------------------------------*/

/*MENU SINISTRA*/
.left-menu li {
  padding-right: 50px;
}

/*---------------------------------*/

/*MENU DESTRA*/
.right-menu li {
  padding-left: 50px;
}

/*---------------------------------*/




/*JUMBOTRON*/
.jumbotron {
  background-color: #B4D0E7;
  height: 800px;
  padding-top: 80px;
  position: relative;
}

.jumbo-img img {
  max-width: 50%;
  position: absolute;
  right: 318px;
  bottom: -95px;
}

.jumbo-text {
  width: 27%;
  line-height: 1.4rem;
  padding-top: 23px;
}

.jumbotron i {
  font-size: 38px;
  padding-top: 40px;
}

/*---------------------------------*/
/*LINK MENU, JUMBO*/
.link {
  text-decoration: none;
  color: white;
  background-color: #0665FF;
  padding: 8px 20px;
}

.link:hover {
  background-color: #2f7af1;

}

.margin-link-jumbo {
  padding-top: 35px;
  padding-bottom: 20px;
}

/*---------------------------------*/

/*MAIN*/

.main-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

}

/*---------------------------------*/

/*FATTURAZIONE*/
.billing span {
  padding-right: 20px;
  padding-bottom: 30px;
}

.billing i {
  font-size: 18px;
}

.fa-solid.fa-circle-dot {
  color: #0665FF;
}

/*---------------------------------*/


/*COLONNE*/

/*debug colonna*/
.standard {
  margin: 0 62px;
}

/*--------------------*/
.col {
  height: 1000px;
  width: 355px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 40px;

}

.name-col {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content-col {
  padding: 40px 30px;
  font-size: 14px;
}

.content-col .price {
  margin-top: 11px;
  margin-bottom: 5px;
}

.content-col div {
  margin: 20px 0;
}


.content-col .date-col {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 5px;
}

.content-col hr {
  width: 20%;
  margin-top: 30px;
}

/*---------------------------------*/

/*LINK COLONNE*/
.test {
  text-align: center;
  margin: 40px 0;
  background-color: #0665FF;
  padding: 8px 20px;
}

.test a {
  text-decoration: none;
  color: white;
}

.content-col .buy-now {
  color: #0665FF;
}

.test:hover {
  background-color: #2f7af1;
}

/*---------------------------------*/

/*LISTA COLONNE*/

.content-col ul {
  margin-top: 20px;
}

.content-col ul li:first-child {
  font-weight: bold;
  font-size: 18px;
}

.content-col ul li {
  list-style: none;
  padding-top: 25px;
  font-size: 15px;
}

.content-col ul li i {
  color: #0665FF;
  font-weight: 800;
}

/*---------------------------------*/

/*COLONNA ORIZONTALE*/
.or-col {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 230px;
  margin-top: 50px;
}

.or-col .or-col-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 0;
}

.or-col div a {
  padding: 8px 55px;
  color: white;
  text-decoration: none;
}

.link-or-col {
  margin: 0;
  background-color: #0665FF;
  padding: 8px 20px;
  text-align: center;
}

.link-or-col:hover {
  background-color: #2f7af1;
}

.or-col div:nth-child(3) {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.last-text-or-col {
  margin-left: 30px;
  margin-top: 60px;
}

/*---------------------------------*/


/*PARTNER*/

.partner {
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  height: 500px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.text-partner {
  margin-left: 60px;
  margin-top: 50px;
  line-height: 2rem;
}

.text-partner h3 {
  margin-bottom: 45px;
}

.text-partner p {
  margin-bottom: 30px;
}

.text-partner a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 15px;
}

.text-partner a:hover {
  background-color: #0665FF;
  color: white;
}

/*----------------------------------*/

/*INFO DROPBOX*/

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  line-height: 1.4rem;

}

.info-dropbox {
  width: calc(100% / 3);
  text-align: left
}

.info-dropbox img {
  width: 100%;
}


.info-dropbox p {
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 18px;
}

.info-dropbox a {
  color: black;
}

.p-right {
  padding-right: 60px;
}

.p-left {
  padding-left: 54px;
}

/*--------------------------*/


/* GENERAL TEAM*/
.title-team h2 {
  width: 40%;
  margin-top: 150px;
  margin-bottom: 40px;

}

.title-team a {
  color: #0665FF;
  margin-bottom: 50px;
  font-size: 17px;
}

.team {
  height: 580px;
  margin-top: 60px;
  display: flex;
}

.team-box {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.team .info-team {
  width: 40%;
  padding: 50px 70px;
  background-color: #F5F5F5;
  overflow: auto;
}

.team .info-team hr {
  color: rgba(0, 0, 0, 0.2);
  width: 10%;
  margin-top: 60px;
  margin-bottom: 70px;
}

.team .info-team p {
  line-height: 1.6rem;
  margin-bottom: 80px;
}

/*------------------------------------*/



/*GENERALM IMAGE TEAM*/
.team-box img {
  width: 50%;
  object-fit: contain;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(69deg) brightness(103%) contrast(102%);
}

.team .info-team img {
  width: 25%;
}

/*--------------------------------*/

/*COLOR TEAM*/

.pea {
  background-color: #A2D39B;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.maroon {
  width: 50%;
  height: 50%;
  background-color: #61082B;
  display: flex;
  justify-content: center;
}

.azure {
  background-color: #0093CE;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.red {
  background-color: #FF1C1C;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.soft-azure {
  background-color: #B4D0E7;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.yellow {
  background-color: #FFD830;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.blue {
  background-color: blue;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
}

/*------------------------------*/


/* COMMAN ACTIVE TEAM*/
.pea:active {
  border: 15px solid #D0E9CD;
}

.maroon:active {
  border: 15px solid #830d3c;
}

.red:active {
  border: 15px solid #e66060;
}

.azure:active {
  border: 15px solid #3abef1;
}

.soft-azure:active {
  border: 15px solid blue;
}

.blue:active {
  border: 15px solid #B4D0E7;
}

.yellow:active {
  border: 15px solid yellow;
}

/*----------------------------------------*/


/*PROVA GRATUITA PER AZIENDE*/
.azienda {
  background-color: #B4D0E7;
  height: 300px;
}

.free-test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.free-test h2 {
  width: 40%;
  color: #61082B;
}

.free-test a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 8px 70px;
}

.free-test a:hover {
  background-color: #F5F5F5;
}

/*-----------------------------------*/

/*FAQ*/

.faq {
  margin-top: 130px;
  margin-bottom: 130px;
}

.faq h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 60px;
}

.faq div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
  padding-top: 40px;
}